<div class="mural" *ngIf="listarAlunos.length > 0, else semAlunos">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Data Nasc</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aluno of listarAlunos">
                <td id="matricula" scope="row">{{ aluno.id }}</td>
                <td id="matricula" scope="row">{{ aluno.matricula }}</td>
                <td id="nome">{{ aluno.nome }}</td>
                <td id="data__nasc" >{{ aluno.data__nasc }}</td>
                <td id="acoes" class="action-icons">
                    <a class="icones" id="info">
                        <i class="fa fa-info fa-lg"></i>
                    </a>
                    <a class="icones" id="editar" routerLink="/aluno/editarAluno/{{aluno.id}}">
                        <i class="fa fa-pencil fa-fw"></i>
                    </a>
                    <a class="icones" id="remover" routerLink="/aluno/deletarAluno/{{aluno.id}}">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #semAlunos>
    <div class="ff-inter sem-alunos">
        <p>Ainda não há alunos cadastrados!</p>
    </div>
</ng-template>

