/* button {
    margin-left: 15px;
} */

.icones {
    margin-left: 15px;
    color: #4e4e4e;
}

#remover {
    /* color: #f30000; */
}

#editar {
    /* color: #333; */
}

#info {
    /* color: #4e4e4e; */
}


